{{ define "content" }}
{{ partial "hero" . }} 
<section id="projects" class="is-flex-center-column">
  {{ partial "all-cats" . }}
  <ul id="projects-list">
    {{ range where .Site.RegularPages "Section" "projects" }}
    <hr>
    <li class="project is-flex-center-column">
      <a class="project-title" href="{{ .RelPermalink }}">{{ .Title }}</a>
      <p class="project-summary">
        {{ .Summary }}
        {{ if .Truncated }}
        <a class="read-more" href="{{ .RelPermalink }}">Read more...</a>
        {{ end }}
      </p>
      <ul id="cat-list" class="is-flex-center-row">
      {{ range $i, $c := .Params.categories }}
        {{ if $i }}
        <span class="cat-delimit">|</span>
        {{ end }}
        <li class="cat-item"><a href='{{ "/categories/" | relLangURL }}{{ $c | urlize }}'>{{ $c | title }} </a></li>
      {{ end }}
      </ul>
      {{ $featured_image := partial "func/GetFeaturedImage.html" . }}
      <img src="{{ $featured_image }}" alt="Featured Image for {{ .Title }}" title="{{ .Title }}">
    </li>
    {{ end }}
    <hr>
  </ul>
</section>
{{ end }}
